# directories
/public
/dist
/.vscode
/.husky
/.github
/src/assets/*
/node_modules
/testFiles

# singular files
.prettierignore
.gitignore
.DS_Store
LICENSE
.npmrc
.nvmrc
.pnpmrc

# file types
*.log
*.svg
*.min.svg
*.yaml
*.txt
*.md