# directories
/dist
/.vscode
/.husky
/.github
/src/assets/*
/node_modules

# singular files
pnpm-lock.yaml
.prettierignore
.gitignore
.DS_Store
LICENSE
.npmrc
.nvmrc
.pnpmrc

# file types
*.log
*.svg
*.min.svg