@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* Input */
	.tw-flex-center {
		@apply flex items-center justify-center;
	}
	.tw-button {
		@apply cursor-pointer select-none rounded border-neutral-500 bg-neutral-500 px-3 py-2 text-neutral-200 hover:bg-neutral-600 disabled:cursor-default disabled:bg-neutral-600;
	}
	.tw-input {
		@apply inline-block w-11/12 max-w-[16rem] overflow-ellipsis rounded-md border-neutral-300 px-3 py-2 text-neutral-900;
	}
	.tw-checkbox {
		@apply h-4 w-4 rounded-md border border-solid border-black border-opacity-10 bg-white align-top;
	}
	.tw-options-div {
		@apply tw-flex-center mt-2 gap-2;
	}
	.tw-sidebar-width {
		@apply w-[230px];
	}
	.tw-close-button {
		@apply absolute left-6 top-6 p-1;
	}
	.tw-chart-image-size {
		@apply max-h-[200px] min-h-[40px] w-full min-w-[40px] max-w-[200px];
	}
	.tw-album-image-div-wrapper {
		@apply relative flex items-center justify-center;
	}
	.tw-album-image-text-overlay {
		@apply tw-flex-center pointer-events-none absolute h-full overflow-hidden p-[2px];
	}
	.tw-options-overlay-div {
		@apply tw-sidebar-width fixed left-0 top-0 z-10 flex h-full flex-col overflow-auto bg-[#404040] px-2 pb-2;
	}
	.tw-search-results-div {
		@apply tw-flex-center md:tw-no-scrollbar mx-4 mt-2 h-[102px] flex-wrap gap-1 overflow-y-scroll md:mx-0 md:h-[415px];
	}
}

@layer utilities {
	/* Chrome, Safari and Opera */
	.tw-no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.tw-no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.tw-album-image-text-overlay {
		overflow-wrap: anywhere;
	}
}
