@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* Input */
	.tw-button {
		@apply cursor-pointer rounded px-3 py-2 select-none text-neutral-200 bg-neutral-500 border-neutral-500 hover:bg-neutral-600 disabled:cursor-default disabled:bg-neutral-600;
	}
	.tw-input {
		@apply inline-block max-w-[16rem] rounded-md w-10/12 text-neutral-900 border-neutral-300 px-3 py-2;
	}
	.tw-checkbox {
		@apply align-top bg-white border border-solid border-black border-opacity-10 rounded-md w-4 h-4;
	}
	.tw-options-div {
		@apply flex justify-center items-center gap-2 mt-2;
	}
	.tw-sidebar-width {
		@apply w-[230px];
	}
}

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
